<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:insert="header">
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Aadhaar Updation</title>
</head>

<body>
	<div th:insert="headerImage"></div>

	<div th:insert="navBarTop"></div>
	<div th:insert="headerMessage"></div>

	<div class="container-fluid header-design-login"
		style=" width: 40%; height: 38vh;">
		<div class="row justify-content-center align-items-center">
			<div class="card ecropCard">
			
				<form th:action="@{/aadhaarupdation}" method="post"
						th:object="${dto}"
						style="width: 100%; padding-right: 0%; margin-left: 0%;">

				<div class="card-title">
				
						<h4
							style="background-color: darkgreen; color: white; width: auto; text-align: center;">Updation
							of Pattadar Empty Aadhaar No</h4>
						<br />
				</div>

				<div class="mb-3 form-group">
					<label for="cropyear"
						style="padding-left: 10%; text-align: center;">Select Crop
						Year :</label> <select id="cropyear" name="cropyear"
						class="form-control custom-select"
						style="width: 40%; margin-left: 19%;" required>
						<option value="" disabled selected>Select Crop Year</option>
						<option th:each="season : ${cropYear}"
							th:value="${season.seasonvalue}" th:text="${season.seasonvalue}"></option>
					</select>
					<!--	 th:field="*{cropyear}"					<div th:if="${#fields.hasErrors('cropyear')}" th:errors="*{cropyear}" class="error-message" style="color:red;"></div>-->
				</div>

				<div class="mb-3 form-group">
					<label for="villageNames"
						style="padding-left: 10%; text-align: center;">Select
						Village :</label> <select id="villageNames" name="villageNames"
						class="form-control custom-select"
						style="width: 40%; margin-left: 23%;" required>
						<option value="" disabled selected>Select Village</option>
						<option th:each="list : ${list}" th:value="${list.getWbvname()}"
							th:text="${list.getWbvname()}"></option>
					</select>
					<!--						 th:field="*{villageNames}"-->
				</div>
				<label for="selectedValue"
					style="padding-left: 10%; text-align: center;">SearchBy
					(Optional) :</label> <select id="selectedValue" name="selectedValue"
					class="form-control custom-select"
					style="width: 40%; margin-left: 15%;">
					<option value="" selected>----Select----</option>
					<option name="surveyNo" value="Survey No">Survey No</option>
					<option name="khataNo" value="Khata No">Khata No</option>
				</select>
				<!--		th:field="*{selectedValue}"			<div th:if="${#fields.hasErrors('selectedValue')}" th:errors="*{selectedValue}" class="error-message" style="color:red;"></div>-->
				<br> <span id="selectedValueDisplay"
					style="text-align: center; padding-left: 10%;"> Enter <span
					th:text="${selectedValue}"></span> :
				</span> <input name="value"
					style="margin-top: 2%; margin-bottom: 2%; width: 40%; margin-left: 20%;"
					maxlength="12">
				<!--<div th:if="${#fields.hasErrors('value')}" th:errors="*{value}" class="error-message" style="color:red;"></div>		 th:field="*{value}"-->
				<button type="submit" class="btn btn-primary"
					style="margin-right: 30px; margin-left: 40%;">Submit</button>
				<button type="button" onclick="goBack()" class="btn btn-primary"
					style="margin-right: 30px;">Go Back</button>
				</form>
			</div>
		</div>
	</div>

</body>
<script>
	window.onload = function() {
		if (window.performance
				&& window.performance.navigation.type === window.performance.navigation.TYPE_BACK_FORWARD) {
			location.reload();
		}
	}

	function goBack() {
		window.location.href = "/aadhaarSearch";
	}

	function show_hide_textfield() {
		var searchParam = document.f1.searchParam.value;
		$('#tr_surveyno').hide();
		$('#tr_khno_bkid').hide();
		$('#surveyno').val("");
		$('#khno_bkid').val("");
		if (searchParam == "1") {
			$('#tr_surveyno').show();
		} else if (searchParam == "2") {
			$('#tr_khno_bkid').show();
		}
	}

	$(document).ready(function() {
		$('#selectedValue').change(function() {
			var selectedValue = $(this).val();

			$('#selectedValueDisplay').text('Enter ' + selectedValue + ' :');

		});
	});
</script>

</html>